Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/src/web/src/middleware.ts
  src/web/src/middleware.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/error.tsx
  src/web/src/app/error.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/layout.tsx
  src/web/src/app/layout.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/loading.tsx
  src/web/src/app/loading.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/not-found.tsx
  src/web/src/app/not-found.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/page.tsx
  src/web/src/app/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(auth)/forgot-password/page.tsx
  src/web/src/app/(auth)/forgot-password/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(auth)/login/page.tsx
  src/web/src/app/(auth)/login/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(auth)/register/page.tsx
  src/web/src/app/(auth)/register/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(auth)/reset-password/page.tsx
  src/web/src/app/(auth)/reset-password/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/booking/page.tsx
  src/web/src/app/(main)/booking/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/booking/[bookingId]/page.tsx
  src/web/src/app/(main)/booking/[bookingId]/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/chat/page.tsx
  src/web/src/app/(main)/chat/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/chat/[roomId]/page.tsx
  src/web/src/app/(main)/chat/[roomId]/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/dashboard/page.tsx
  src/web/src/app/(main)/dashboard/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/persona/page.tsx
  src/web/src/app/(main)/persona/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/persona/[personaId]/page.tsx
  src/web/src/app/(main)/persona/[personaId]/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(main)/profile/page.tsx
  src/web/src/app/(main)/profile/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(professional)/agent-management/page.tsx
  src/web/src/app/(professional)/agent-management/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(professional)/analytics/page.tsx
  src/web/src/app/(professional)/analytics/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/app/(professional)/consultation/page.tsx
  src/web/src/app/(professional)/consultation/page.tsx
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/components/auth/AuthForm/AuthForm.test.tsx
  src/web/src/components/auth/AuthForm/AuthForm.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/auth/AuthForm/AuthForm.tsx
  src/web/src/components/auth/AuthForm/AuthForm.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/auth/PasswordInput/PasswordInput.test.tsx
  src/web/src/components/auth/PasswordInput/PasswordInput.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/auth/PasswordInput/PasswordInput.tsx
  src/web/src/components/auth/PasswordInput/PasswordInput.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/BookingCard/BookingCard.test.tsx
  src/web/src/components/booking/BookingCard/BookingCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/BookingCard/BookingCard.tsx
  src/web/src/components/booking/BookingCard/BookingCard.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/PaymentSplit/PaymentSplit.test.tsx
  src/web/src/components/booking/PaymentSplit/PaymentSplit.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/PaymentSplit/PaymentSplit.tsx
  src/web/src/components/booking/PaymentSplit/PaymentSplit.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/TravellerInput/TravellerInput.test.tsx
  src/web/src/components/booking/TravellerInput/TravellerInput.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/booking/TravellerInput/TravellerInput.tsx
  src/web/src/components/booking/TravellerInput/TravellerInput.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ChatBubble/ChatBubble.test.tsx
  src/web/src/components/chat/ChatBubble/ChatBubble.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ChatBubble/ChatBubble.tsx
  src/web/src/components/chat/ChatBubble/ChatBubble.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ChatInput/ChatInput.test.tsx
  src/web/src/components/chat/ChatInput/ChatInput.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ChatInput/ChatInput.tsx
  src/web/src/components/chat/ChatInput/ChatInput.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ParticipantsList/ParticipantsList.test.tsx
  src/web/src/components/chat/ParticipantsList/ParticipantsList.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/chat/ParticipantsList/ParticipantsList.tsx
  src/web/src/components/chat/ParticipantsList/ParticipantsList.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/persona/PersonaCard/PersonaCard.test.tsx
  src/web/src/components/persona/PersonaCard/PersonaCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/persona/PersonaCard/PersonaCard.tsx
  src/web/src/components/persona/PersonaCard/PersonaCard.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/persona/PersonaSelector/PersonaSelector.test.tsx
  src/web/src/components/persona/PersonaSelector/PersonaSelector.test.tsx
Owners: @qa-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
