Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/social-service.json
  infrastructure/monitoring/grafana/dashboards/social-service.json
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/kibana/kibana.yaml
  infrastructure/monitoring/kibana/kibana.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/prometheus/prometheus.yaml
  infrastructure/monitoring/prometheus/prometheus.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/prometheus/rules.yaml
  infrastructure/monitoring/prometheus/rules.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/scripts/scaling.sh
  infrastructure/scripts/scaling.sh
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/environments/development/main.tf
  infrastructure/terraform/environments/development/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/api-gateway/main.tf
  infrastructure/terraform/modules/api-gateway/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/api-gateway/outputs.tf
  infrastructure/terraform/modules/api-gateway/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/api-gateway/variables.tf
  infrastructure/terraform/modules/api-gateway/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/vpc/main.tf
  infrastructure/terraform/modules/vpc/main.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/vpc/outputs.tf
  infrastructure/terraform/modules/vpc/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/terraform/modules/vpc/variables.tf
  infrastructure/terraform/modules/vpc/variables.tf
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/src/android/.gitignore
  src/android/.gitignore
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/README.md
  src/android/README.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/src/android/app.json
  src/android/app.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/babel.config.js
  src/android/babel.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/android/index.js
  src/android/index.js
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/jest.config.js
  src/android/jest.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/android/metro.config.js
  src/android/metro.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/android/package.json
  src/android/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/android/react-native.config.js
  src/android/react-native.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/android/tsconfig.json
  src/android/tsconfig.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/android/build.gradle
  src/android/android/build.gradle
Owners: @mobile-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
