Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/src/web/src/components/persona/PersonaSelector/PersonaSelector.tsx
  src/web/src/components/persona/PersonaSelector/PersonaSelector.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/AgentCard/AgentCard.test.tsx
  src/web/src/components/professional/AgentCard/AgentCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/AgentCard/AgentCard.tsx
  src/web/src/components/professional/AgentCard/AgentCard.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/AnalyticsChart/AnalyticsChart.test.tsx
  src/web/src/components/professional/AnalyticsChart/AnalyticsChart.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/AnalyticsChart/AnalyticsChart.tsx
  src/web/src/components/professional/AnalyticsChart/AnalyticsChart.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/ConsultationCard/ConsultationCard.test.tsx
  src/web/src/components/professional/ConsultationCard/ConsultationCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/professional/ConsultationCard/ConsultationCard.tsx
  src/web/src/components/professional/ConsultationCard/ConsultationCard.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Button/Button.test.tsx
  src/web/src/components/shared/Button/Button.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Button/Button.tsx
  src/web/src/components/shared/Button/Button.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Card/Card.test.tsx
  src/web/src/components/shared/Card/Card.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Card/Card.tsx
  src/web/src/components/shared/Card/Card.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/ErrorBoundary/ErrorBoundary.test.tsx
  src/web/src/components/shared/ErrorBoundary/ErrorBoundary.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/ErrorBoundary/ErrorBoundary.tsx
  src/web/src/components/shared/ErrorBoundary/ErrorBoundary.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Input/Input.test.tsx
  src/web/src/components/shared/Input/Input.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Input/Input.tsx
  src/web/src/components/shared/Input/Input.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Modal/Modal.test.tsx
  src/web/src/components/shared/Modal/Modal.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Modal/Modal.tsx
  src/web/src/components/shared/Modal/Modal.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Toast/Toast.test.tsx
  src/web/src/components/shared/Toast/Toast.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/web/src/components/shared/Toast/Toast.tsx
  src/web/src/components/shared/Toast/Toast.tsx
Owners: @frontend-team

Add public-samples/test-final-6klrpv/src/web/src/config/development.ts
  src/web/src/config/development.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/config/production.ts
  src/web/src/config/production.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/config/staging.ts
  src/web/src/config/staging.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/constants/api.ts
  src/web/src/constants/api.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/constants/routes.ts
  src/web/src/constants/routes.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/constants/theme.ts
  src/web/src/constants/theme.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/constants/typography.ts
  src/web/src/constants/typography.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/constants/validation.ts
  src/web/src/constants/validation.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/useBooking.ts
  src/web/src/hooks/useBooking.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/useChat.ts
  src/web/src/hooks/useChat.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/usePersona.ts
  src/web/src/hooks/usePersona.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/useResponsive.ts
  src/web/src/hooks/useResponsive.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/lib/analytics.ts
  src/web/src/lib/analytics.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/lib/axios.ts
  src/web/src/lib/axios.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/lib/redux.ts
  src/web/src/lib/redux.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/lib/socket.ts
  src/web/src/lib/socket.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/services/api.ts
  src/web/src/services/api.ts
Owners: @frontend-team, @security-team

Add public-samples/test-final-6klrpv/src/web/src/services/auth.ts
  src/web/src/services/auth.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/web/src/services/booking.ts
  src/web/src/services/booking.ts
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
