Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/kong.yml
  src/backend/api-gateway/kong.yml
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/src/plugins/auth.ts
  src/backend/api-gateway/src/plugins/auth.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/src/plugins/rate-limiting.ts
  src/backend/api-gateway/src/plugins/rate-limiting.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/api-gateway/src/plugins/request-transformer.ts
  src/backend/api-gateway/src/plugins/request-transformer.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/Dockerfile
  src/backend/booking-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/package.json
  src/backend/booking-service/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/tsconfig.json
  src/backend/booking-service/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/config/amadeus.ts
  src/backend/booking-service/src/config/amadeus.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/config/database.ts
  src/backend/booking-service/src/config/database.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/controllers/booking.controller.ts
  src/backend/booking-service/src/controllers/booking.controller.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/interfaces/booking.interface.ts
  src/backend/booking-service/src/interfaces/booking.interface.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/models/booking.model.ts
  src/backend/booking-service/src/models/booking.model.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/routes/booking.routes.ts
  src/backend/booking-service/src/routes/booking.routes.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/services/amadeus.service.ts
  src/backend/booking-service/src/services/amadeus.service.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/services/booking.service.ts
  src/backend/booking-service/src/services/booking.service.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/src/utils/payment.util.ts
  src/backend/booking-service/src/utils/payment.util.ts
Owners: @security-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/booking-service/tests/booking.test.ts
  src/backend/booking-service/tests/booking.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/Dockerfile
  src/backend/ml-service/Dockerfile
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/README.md
  src/backend/ml-service/README.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/src/backend/ml-service/requirements.txt
  src/backend/ml-service/requirements.txt
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/setup.py
  src/backend/ml-service/setup.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/src/config/model_config.py
  src/backend/ml-service/src/config/model_config.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/src/models/persona_model.py
  src/backend/ml-service/src/models/persona_model.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/src/models/recommendation_model.py
  src/backend/ml-service/src/models/recommendation_model.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/src/services/model_trainer.py
  src/backend/ml-service/src/services/model_trainer.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/src/utils/data_preprocessor.py
  src/backend/ml-service/src/utils/data_preprocessor.py
Owners: @ml-team, @backend-team

Add public-samples/test-final-6klrpv/src/backend/ml-service/tests/test_models.py
  src/backend/ml-service/tests/test_models.py
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/Dockerfile
  src/backend/persona-service/Dockerfile
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/package.json
  src/backend/persona-service/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/tsconfig.json
  src/backend/persona-service/tsconfig.json
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/config/database.ts
  src/backend/persona-service/src/config/database.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/controllers/persona.controller.ts
  src/backend/persona-service/src/controllers/persona.controller.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/interfaces/persona.interface.ts
  src/backend/persona-service/src/interfaces/persona.interface.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/models/persona.model.ts
  src/backend/persona-service/src/models/persona.model.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/routes/persona.routes.ts
  src/backend/persona-service/src/routes/persona.routes.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/services/ml.service.ts
  src/backend/persona-service/src/services/ml.service.ts
Owners: @backend-team, @ml-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/src/services/persona.service.ts
  src/backend/persona-service/src/services/persona.service.ts
Owners: @backend-team, @ml-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
