Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/src/backend/persona-service/tests/persona.test.ts
  src/backend/persona-service/tests/persona.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/Dockerfile
  src/backend/professional-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/package.json
  src/backend/professional-service/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/tsconfig.json
  src/backend/professional-service/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/config/database.ts
  src/backend/professional-service/src/config/database.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/controllers/agent.controller.ts
  src/backend/professional-service/src/controllers/agent.controller.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/controllers/consultation.controller.ts
  src/backend/professional-service/src/controllers/consultation.controller.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/interfaces/agent.interface.ts
  src/backend/professional-service/src/interfaces/agent.interface.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/interfaces/consultation.interface.ts
  src/backend/professional-service/src/interfaces/consultation.interface.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/models/agent.model.ts
  src/backend/professional-service/src/models/agent.model.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/models/consultation.model.ts
  src/backend/professional-service/src/models/consultation.model.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/routes/agent.routes.ts
  src/backend/professional-service/src/routes/agent.routes.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/routes/consultation.routes.ts
  src/backend/professional-service/src/routes/consultation.routes.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/services/agent.service.ts
  src/backend/professional-service/src/services/agent.service.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/src/services/consultation.service.ts
  src/backend/professional-service/src/services/consultation.service.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/tests/agent.test.ts
  src/backend/professional-service/tests/agent.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/professional-service/tests/consultation.test.ts
  src/backend/professional-service/tests/consultation.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/shared/constants/error-codes.ts
  src/backend/shared/constants/error-codes.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/shared/constants/status-codes.ts
  src/backend/shared/constants/status-codes.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/shared/interfaces/base.interface.ts
  src/backend/shared/interfaces/base.interface.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/shared/middleware/auth.middleware.ts
  src/backend/shared/middleware/auth.middleware.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/backend/shared/middleware/error.middleware.ts
  src/backend/shared/middleware/error.middleware.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/shared/middleware/validation.middleware.ts
  src/backend/shared/middleware/validation.middleware.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/shared/utils/encryption.util.ts
  src/backend/shared/utils/encryption.util.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/backend/shared/utils/logger.util.ts
  src/backend/shared/utils/logger.util.ts
Owners: @backend-team

Add public-samples/test-final-6klrpv/src/backend/social-service/Dockerfile
  src/backend/social-service/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/package.json
  src/backend/social-service/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/tsconfig.json
  src/backend/social-service/tsconfig.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/config/database.ts
  src/backend/social-service/src/config/database.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/config/websocket.ts
  src/backend/social-service/src/config/websocket.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/controllers/chat.controller.ts
  src/backend/social-service/src/controllers/chat.controller.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/controllers/room.controller.ts
  src/backend/social-service/src/controllers/room.controller.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/interfaces/chat.interface.ts
  src/backend/social-service/src/interfaces/chat.interface.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/interfaces/room.interface.ts
  src/backend/social-service/src/interfaces/room.interface.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/models/chat.model.ts
  src/backend/social-service/src/models/chat.model.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/models/room.model.ts
  src/backend/social-service/src/models/room.model.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/routes/chat.routes.ts
  src/backend/social-service/src/routes/chat.routes.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/routes/room.routes.ts
  src/backend/social-service/src/routes/room.routes.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/services/chat.service.ts
  src/backend/social-service/src/services/chat.service.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/services/room.service.ts
  src/backend/social-service/src/services/room.service.ts
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
