Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/.github/dependabot.yml
  .github/dependabot.yml
Owners: @platform-leads

Add public-samples/test-final-6klrpv/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/infrastructure/README.md
  infrastructure/README.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/api-gateway/deployment.yaml
  infrastructure/kubernetes/apps/api-gateway/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/api-gateway/ingress.yaml
  infrastructure/kubernetes/apps/api-gateway/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/api-gateway/service.yaml
  infrastructure/kubernetes/apps/api-gateway/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/booking-service/deployment.yaml
  infrastructure/kubernetes/apps/booking-service/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/booking-service/service.yaml
  infrastructure/kubernetes/apps/booking-service/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/ml-service/deployment.yaml
  infrastructure/kubernetes/apps/ml-service/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/ml-service/service.yaml
  infrastructure/kubernetes/apps/ml-service/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/persona-service/deployment.yaml
  infrastructure/kubernetes/apps/persona-service/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/persona-service/service.yaml
  infrastructure/kubernetes/apps/persona-service/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/professional-service/deployment.yaml
  infrastructure/kubernetes/apps/professional-service/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/professional-service/service.yaml
  infrastructure/kubernetes/apps/professional-service/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/social-service/deployment.yaml
  infrastructure/kubernetes/apps/social-service/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/apps/social-service/service.yaml
  infrastructure/kubernetes/apps/social-service/service.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/base/configmap.yaml
  infrastructure/kubernetes/base/configmap.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/base/namespace.yaml
  infrastructure/kubernetes/base/namespace.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/base/secrets.yaml
  infrastructure/kubernetes/base/secrets.yaml
Owners: @security-team, @devops-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/base/storage.yaml
  infrastructure/kubernetes/base/storage.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/overlays/development/kustomization.yaml
  infrastructure/kubernetes/overlays/development/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/overlays/production/kustomization.yaml
  infrastructure/kubernetes/overlays/production/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/kubernetes/overlays/staging/kustomization.yaml
  infrastructure/kubernetes/overlays/staging/kustomization.yaml
Owners: @devops-team, @security-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/elasticsearch/elasticsearch.yaml
  infrastructure/monitoring/elasticsearch/elasticsearch.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/fluentd/fluentd.yaml
  infrastructure/monitoring/fluentd/fluentd.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/datasources.yaml
  infrastructure/monitoring/grafana/datasources.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/values.yaml
  infrastructure/monitoring/grafana/values.yaml
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/api-gateway.json
  infrastructure/monitoring/grafana/dashboards/api-gateway.json
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/booking-service.json
  infrastructure/monitoring/grafana/dashboards/booking-service.json
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/ml-service.json
  infrastructure/monitoring/grafana/dashboards/ml-service.json
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/persona-service.json
  infrastructure/monitoring/grafana/dashboards/persona-service.json
Owners: @devops-team, @sre-team

Add public-samples/test-final-6klrpv/infrastructure/monitoring/grafana/dashboards/professional-service.json
  infrastructure/monitoring/grafana/dashboards/professional-service.json
Owners: @devops-team, @sre-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
