Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/websocket/chat.handler.ts
  src/backend/social-service/src/websocket/chat.handler.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/src/websocket/room.handler.ts
  src/backend/social-service/src/websocket/room.handler.ts
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/social-service/tests/chat.test.ts
  src/backend/social-service/tests/chat.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/social-service/tests/room.test.ts
  src/backend/social-service/tests/room.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/ios/.gitignore
  src/ios/.gitignore
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/Podfile
  src/ios/Podfile
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/Podfile.lock
  src/ios/Podfile.lock
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/README.md
  src/ios/README.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/src/ios/app.json
  src/ios/app.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/babel.config.js
  src/ios/babel.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/ios/index.js
  src/ios/index.js
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/jest.config.js
  src/ios/jest.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/ios/metro.config.js
  src/ios/metro.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/ios/package.json
  src/ios/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/ios/react-native.config.js
  src/ios/react-native.config.js
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/ios/tsconfig.json
  src/ios/tsconfig.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform.xcodeproj/project.pbxproj
  src/ios/ios/AITravelPlatform.xcodeproj/project.pbxproj
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform.xcodeproj/xcshareddata/xcschemes/AITravelPlatform.xcscheme
  src/ios/ios/AITravelPlatform.xcodeproj/xcshareddata/xcschemes/AITravelPlatform.xcscheme
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform.xcworkspace/contents.xcworkspacedata
  src/ios/ios/AITravelPlatform.xcworkspace/contents.xcworkspacedata
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/AppDelegate.h
  src/ios/ios/AITravelPlatform/AppDelegate.h
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/AppDelegate.mm
  src/ios/ios/AITravelPlatform/AppDelegate.mm
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/Info.plist
  src/ios/ios/AITravelPlatform/Info.plist
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/LaunchScreen.storyboard
  src/ios/ios/AITravelPlatform/LaunchScreen.storyboard
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/main.m
  src/ios/ios/AITravelPlatform/main.m
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/Images.xcassets/Contents.json
  src/ios/ios/AITravelPlatform/Images.xcassets/Contents.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/AITravelPlatform/Images.xcassets/AppIcon.appiconset/Contents.json
  src/ios/ios/AITravelPlatform/Images.xcassets/AppIcon.appiconset/Contents.json
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/Fonts/PlayfairDisplay-Bold.ttf
  src/ios/ios/Fonts/PlayfairDisplay-Bold.ttf
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/Fonts/PlayfairDisplay-Regular.ttf
  src/ios/ios/Fonts/PlayfairDisplay-Regular.ttf
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/Fonts/Roboto-Bold.ttf
  src/ios/ios/Fonts/Roboto-Bold.ttf
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/ios/Fonts/Roboto-Regular.ttf
  src/ios/ios/Fonts/Roboto-Regular.ttf
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/App.tsx
  src/ios/src/App.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/auth/AuthButton.tsx
  src/ios/src/components/auth/AuthButton.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/auth/AuthInput.tsx
  src/ios/src/components/auth/AuthInput.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/booking/BookingCard.tsx
  src/ios/src/components/booking/BookingCard.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/booking/PaymentSplit.tsx
  src/ios/src/components/booking/PaymentSplit.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/booking/TravellerInput.tsx
  src/ios/src/components/booking/TravellerInput.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/chat/ChatBubble.tsx
  src/ios/src/components/chat/ChatBubble.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/chat/ChatInput.tsx
  src/ios/src/components/chat/ChatInput.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/chat/ParticipantsList.tsx
  src/ios/src/components/chat/ParticipantsList.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/ios/src/components/persona/PersonaCard.tsx
  src/ios/src/components/persona/PersonaCard.tsx
Owners: @mobile-team, @security-team
