Repository Dashon/test-final-6klrpv, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @security-team, @ml-team, @mobile-team, @frontend-team, @devops-team, @database-team, @qa-team, @technical-writers, @api-team, @sre-team

Add public-samples/test-final-6klrpv/src/android/src/screens/professional/ConsultationScreen.tsx
  src/android/src/screens/professional/ConsultationScreen.tsx
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/androidBiometric.ts
  src/android/src/services/androidBiometric.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/androidLocation.ts
  src/android/src/services/androidLocation.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/api.ts
  src/android/src/services/api.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/auth.ts
  src/android/src/services/auth.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/booking.ts
  src/android/src/services/booking.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/chat.ts
  src/android/src/services/chat.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/services/persona.ts
  src/android/src/services/persona.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/store/index.ts
  src/android/src/store/index.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/store/slices/authSlice.ts
  src/android/src/store/slices/authSlice.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/store/slices/bookingSlice.ts
  src/android/src/store/slices/bookingSlice.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/store/slices/chatSlice.ts
  src/android/src/store/slices/chatSlice.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/store/slices/personaSlice.ts
  src/android/src/store/slices/personaSlice.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/types/auth.ts
  src/android/src/types/auth.ts
Owners: @security-team

Add public-samples/test-final-6klrpv/src/android/src/types/booking.ts
  src/android/src/types/booking.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/types/chat.ts
  src/android/src/types/chat.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/types/persona.ts
  src/android/src/types/persona.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/utils/analytics.ts
  src/android/src/utils/analytics.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/utils/formatting.ts
  src/android/src/utils/formatting.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/utils/permissions.ts
  src/android/src/utils/permissions.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/utils/responsive.ts
  src/android/src/utils/responsive.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/src/utils/validation.ts
  src/android/src/utils/validation.ts
Owners: @mobile-team, @security-team

Add public-samples/test-final-6klrpv/src/android/tests/App.test.tsx
  src/android/tests/App.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/components/auth/AuthInput.test.tsx
  src/android/tests/components/auth/AuthInput.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/components/booking/BookingCard.test.tsx
  src/android/tests/components/booking/BookingCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/components/chat/ChatBubble.test.tsx
  src/android/tests/components/chat/ChatBubble.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/components/persona/PersonaCard.test.tsx
  src/android/tests/components/persona/PersonaCard.test.tsx
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/services/api.test.ts
  src/android/tests/services/api.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/android/tests/utils/validation.test.ts
  src/android/tests/utils/validation.test.ts
Owners: @qa-team

Add public-samples/test-final-6klrpv/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/.env.example
  src/backend/.env.example
Owners: @security-team, @devops-team

Add public-samples/test-final-6klrpv/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/README.md
  src/backend/README.md
Owners: @technical-writers

Add public-samples/test-final-6klrpv/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team

Add public-samples/test-final-6klrpv/src/backend/package.json
  src/backend/package.json
Owners: @platform-leads, @security-team

Add public-samples/test-final-6klrpv/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repository unless a later match takes precedence
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team @security-team
/src/backend/ml-service/ @ml-team @backend-team
/src/backend/api-gateway/ @backend-team @security-team
/src/backend/booking-service/ @backend-team @security-team
/src/backend/persona-service/ @backend-team @ml-team
/src/backend/professional-service/ @backend-team @security-team
/src/backend/social-service/ @backend-team @security-team
/src/backend/shared/ @backend-team

# Mobile app ownership
/src/ios/ @mobile-team @security-team
/src/android/ @mobile-team @security-team

# Web application ownership
/src/web/ @frontend-team @security-team
/src/web/src/components/ @frontend-team
/src/web/src/config/ @frontend-team @security-team
/src/web/src/constants/ @frontend-team @security-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team
/infrastructure/kubernetes/ @devops-team @security-team
/infrastructure/terraform/ @devops-team @security-team

# CI/CD workflows
/.github/workflows/ @devops-team @security-team

# Security-sensitive files requiring security team review
**/auth.* @security-team
**/security.* @security-team
**/payment.* @security-team @backend-team
**/secrets.* @security-team @devops-team
**/encryption.* @security-team

# Database schemas and migrations
**/database/ @database-team @backend-team
**/migrations/ @database-team @backend-team
**/schema.* @database-team @backend-team

# Test files
**/tests/ @qa-team
**/test/ @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

# Documentation
/docs/ @platform-leads @technical-writers
*.md @technical-writers

# Package dependencies
package.json @platform-leads @security-team
package-lock.json @platform-leads @security-team
yarn.lock @platform-leads @security-team

# Configuration files
*.config.js @platform-leads @security-team
*.config.ts @platform-leads @security-team
.env.* @security-team @devops-team

# Machine Learning models and training data
/src/backend/ml-service/models/ @ml-team
/src/backend/ml-service/training/ @ml-team
/src/backend/ml-service/data/ @ml-team

# API specifications
/src/backend/api-gateway/openapi/ @backend-team @api-team
/src/backend/api-gateway/swagger/ @backend-team @api-team

# Monitoring and observability
/src/backend/monitoring/ @devops-team @sre-team
/infrastructure/monitoring/ @devops-team @sre-team
